.jumbotron {
	background-color: #1f1f61;
	color: white;
	text-align: center;
	font-family: sans-serif;
}

.jumbotron p {
	color: white;
}

.panel .panel-heading {
	background-color: #5e5ea0;
	color: black;
}